body {
  background-color: #191919;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}

/* CARD */
.card-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.card {
  height: 200px;
  width: 200px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card::before {
  content: "";
  background-image: conic-gradient(#ff0052 20deg, transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 5s linear infinite;
}
.card::after {
  content: "";
  width: 190px;
  height: 190px;
  background-color: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 20px 20px 20px #0000008c;
}
.card p {
  font-size: larger;
  color: #ff0052;
  z-index: 1;
  letter-spacing: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Keyboard */
.keyboard-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.keyboard {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.keyboard::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 10px;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}
.keyboard i {
  display: block;
  text-align: left;
  position: relative;
  color: #fff;
  font-size: 1.5em;
  font-style: normal;
  text-transform: uppercase;
}
